/* register.css */
form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: medium;
  }
  
  button {
    margin: 20px auto 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 5px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
  }
  